extends ../layout

block head
    link(rel='stylesheet' href='/static/users/login.css')

block scripts
    script(src='/static/users/login.js')

block content
    h1 Login
    h3#login-error

    div#real-login-form-wrapper
        form(method='post', action='/users/redir-home')#form
            input(name='username' title='Username')#username
            input(name='password' type='password' title='password')#password
            input(type='submit')#realsubmit
    div#fake-login-form-wrapper
        label Username:
        input(name='username' title='Your username')#fusername
        br
        label Password:
        input(name='password' type='password' title='Your password')#fpassword
        br
        input(type='submit' value='Signup')#submit
