html
    head
        title #{pageTitle || 'Eyeball\'s Website'}
        meta(name="description" content="Eyeball's Website")
        meta(name="author" content="Eyeball")
        link(rel="stylesheet" href="/static/style.css")
    body
        h1 #{title || ''}
        block content

        block scripts
