html
    head
        title #{pageTitle || 'Eyeball\'s Website'}
        meta(name="description" content="Eyeball's Website")
        meta(name="author" content="Eyeball")
        meta(charset="utf-8")
        link(rel="stylesheet" href="/static/style.css")
        block head
    body
        h1 #{title || ''}
        if session
            h3="Welcome, " + session.username
            a(href="#")#logout Logout
        else
            h3 Welcome,&nbsp;
                a(href="/users/signup") Sign up
                |  or&nbsp;
                a(href="/users/login") Login
        block content

        script(src="/static/ajax.js")
        if session
            script(src="/static/logged-in.js")
        block scripts
